{
  "env": {
    "browser": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "rules": {
    "import/no-named-as-default": 0,
    "react/prop-types": 0,
    "no-underscore-dangle": 0,
    "react/destructuring-assignment": 0,
    "react/jsx-curly-newline": 0,
    "import/no-named-as-default-member": 0,
    "no-unused-expressions": ["error", { "allowShortCircuit": true }],
    "no-param-reassign": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [".js", ".jsx"]
      }
    ]
  }
}