.cardWrapper {
  background-color: rgb(236, 245, 240);
  //   width: 900px;
  height: 530px;
  display: flex;
  justify-content: space-between;
}

.cardWrapperSingle {
  // display: flex;
  // justify-content: center;
  background-color: rgb(236, 245, 240);
  // width: 900px;
  height: 530px;
  label {
    display: none;
  }
  @media (max-width: 682px) {
    width: 100%;
  }
}

.cardInputWrapper {
  background-color: rgb(236, 245, 240);
  // width: 900px;
  height: 530px;
  & form {
    display: flex;
    justify-content: space-between;
  }

  label {
    display: none;
  }
}

/* destop display */
@media screen and (min-width: 1800px) {
  .cardWrapperSingle {
    height: 680px;
  }
}
