.drawerContainer {
  --transition-speed: 0.3s;
}

.drawer {
  background: #fff;
  //   width: 3;
  height: 100%;
  overflow: auto;
  position: fixed;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  transition: transform var(--transition-speed) ease;
  z-index: 1000;
  &.left {
    top: 0;
    left: 0;
    transform: translateX(-100%);
  }
}

.drawerContainer.open {
  & .left {
    transform: translateX(0);
  }
  & .drawer {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  }
  & .backdrop {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    z-index: 999;
  }
}

.backdrop {
  visibility: hidden;
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity var(--transition-speed) ease,
    visibility var(--transition-speed) ease;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  pointer-events: none;
  z-index: 0;
}
