.Toolbar {
	width: 100%;
	// position: relative;
	background-color: #f9f9f9;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	height: 56px;
	z-index: 3;
	border-right: 1px solid rgba(0, 0, 0, 0.1);
}

@media (max-width: 499px) {
	.DesktopOnly {
		display: none;
	}
}
