@import "../../../parameter.scss";

.Button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  /*font: inherit;*/
  font-weight: bold;
  font-family: "Press Start 2P", sans-serif;
  transition-duration: 0.1s;

  &:disabled {
    color: #ccc;
    cursor: not-allowed;
  }

  // &:active {
  //     transform: translate(0, 6px);
  //     box-shadow: 0 1px 0 white;
  // }

  & a {
    display: inline-block;
    text-decoration: none;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    font-family: "Press Start 2P", sans-serif;
  }
}

.Success {
  // display: inline-block;

  outline: none;

  color: $button-color;
  border: 2px solid $button-color;
  /*font-size: 18px;*/

  &:hover {
    background-color: $button-color;
    color: rgb(236, 245, 240);
    & a {
      color: rgb(236, 245, 240);
    }
  }

  & a {
    color: $button-color;
  }

  color: $button-color;

  // margin: 12px;
  font-size: 1rem;
  // box-shadow: 0 6px 0 0 rgb(219, 236, 227);
}

.Big {
  height: 4rem;
  // width: 10rem;
  padding: 0.5rem 1rem;
  & a {
    line-height: 3rem;
    font-size: 1rem;
  }
  // box-shadow: 0 0.5rem 0 0 $button-shadow;
}

.Medium {
  height: 2.5rem;
  // width: 10rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  box-shadow: 0 0.5rem 0 0 $button-shadow;

  &:active {
    transform: translate(0, 0.5rem);
    box-shadow: 0 1px 0 white;
  }
}

.Danger {
  color: #944317;
  padding: 10px;
  margin: 12px;
}

.Navi {
  color: rgba(0, 0, 0, 0.7);
  width: 84px;
  height: 42px;
  font-size: 12px;
}
