.introWrap {
  display: flex;
  width: 100%;
  flex: auto;
  align-items: center;
  justify-content: center;
  /*position: relative;*/
}

.intro {
  /*position: absolute;*/
  height: 550px;
  width: 100%;
  @media (min-width: 700px) {
    width: 700px;
  }

  /*background-color: rgb(236, 245, 240);*/
  /*	left: 50%;
	top: 50%;*/
  // margin: 0 auto;
  // margin-top: 60px;
  display: flex;
  flex-direction: column;
  position: relative;
  /*margin-top: 84px;*/
}

/* destop display */
@media screen and (min-width: 1800px) {
  .intro {
    height: 650px;
  }
}

.createNewWrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
  flex: 0 0 4rem;
  & > div {
    flex-grow: 1;
  }
}

.buttonWrap {
  /*position: absolute;*/
  border: 2px solid rgba(9, 132, 113, 0.9);
  width: 148px;
  height: 50px;
  /*text-align: center;*/
  /*left: 176px;*/
  /*margin-top: 350px;*/
  box-shadow: 0 6px 0 0 rgb(219, 236, 227);

  & a:hover {
    background-color: rgba(9, 132, 113, 0.9);
    color: rgb(236, 245, 240);
  }

  &:active {
    transform: translate(0, 6px);
    box-shadow: 0 1px 0 white;
  }

  & a {
    display: inline-block;
    text-decoration: none;
    color: rgba(9, 132, 113, 0.9);
    /*height: 100%;*/
    width: 100%;
    vertical-align: middle;
    text-align: center;
    line-height: 50px;
    font-family: "Press Start 2P", sans-serif;
    font-size: 14px;
  }
}

.listsWrap {
  border: 2px solid #dddddd;
  min-height: 5rem;
  overflow: scroll;
  // height: 100%;
  flex-grow: 1;

  & h2 + div {
    margin-top: 1rem;
  }

  & > h2 {
    position: absolute;
    margin-top: -1rem;
    margin-left: 1rem;
    background: #ffffff;
    height: 1.25rem;
    padding: 0.25rem;
    // padding: 2px 5px 2px 5px;
    color: #b9b9b9;
    font-size: 1rem;
    font-family: "Press Start 2P", sans-serif;
  }
}

.removeButtonWrapper {
  display: flex;
  justify-content: space-around;
}
