.card {
    padding: 0 12px 0 14px;
    margin: 0 auto;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
    overflow: hidden;
    outline: none;
    min-height: 7rem;
    width: 270px;
    & h3 {
      color: rgba(0, 0, 0, 0.5);
      font-size: 1.125rem;
      max-height: 3rem;
      overflow: hidden;
      margin-block-start: 0.75em;
      margin-block-end: 0.75em;
    }
    & p {
      color: rgba(0, 0, 0, 0.3);
      font-size: 0.8rem;
      max-height: 3.875rem;
      text-overflow: clip;
      overflow: hidden;
      line-height: 1.25;
    }
}

.padStyles {
  height: 500px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.25rem;
  @media (min-width: 682px) {
    box-shadow: 0.75rem 0.75rem 0 rgba(0, 0, 0, 0.1);
  }
}

.padShowWrapperSingle {
  display: flex;
  flex-direction: column;
  @media (max-width: 681px) {
    width: 100%;
  }
}

.padShowWrapperSingle form {
    @media (max-width: 681px) {
      width: 100%;
    }
  }

.padShowWrapperSingle .Editor {
  @apply padStyles;
  width: 100%;

  @media (min-width: 682px) {
    margin-right: 0.75rem;
    width: 682px;
  }
}
@media screen and (min-width: 1800px) {
  .padShowWrapperSingle {
    & .Editor {
      height: 650px;
    }
  }
}

.padShowWrapper {
  display: flex;
  flex-direction: column;
}

.padShowWrapper .Editor {
  @apply padStyles;
  width: 400px;
  @media (min-width: 682px) {
    margin-right: 0.75rem;
  }
}

.cardShow {
  background-color: white;
  margin: 0.75rem;

  @media (min-width: 682px) {
    margin: 1.75rem;
  }
  padding: 0.75rem;
  box-sizing: border-box;
  overflow: auto;
}

.cardShow > p {
  padding: 12px;
}