.Input {
  /*width: 100%;*/
  padding: 12px;
  box-sizing: border-box;
}

.Label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

.InputElement {
  outline: none;
  background-color: white;
  font: inherit;
  padding: 12px;
  /*display: block;*/
  /*width: 100%;*/
  box-sizing: border-box;
}

.input {
  border: 1px solid #ccc;
  display: block;
}

.textarea {
  resize: none;
  border: none;
}

.InputElement:focus {
  outline: none;
  /*background-color: #ccc;*/
}

.Invalid {
  /*border: 1px solid red;*/
  background-color: #fda49a;
}
