@import "../../markdown.scss";

.memShowWrapper {
  /*margin: 0 auto;*/
  // margin-top: 4rem;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

@mixin pad-styles() {
  height: 500px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.25rem;
  box-shadow: 0.75rem 0.75rem 0 rgba(0, 0, 0, 0.1);
}

@mixin pad-styles-single() {
  @include pad-styles();
  width: 682px;
}

@mixin pad-styles-double() {
  @include pad-styles();
  width: 400px;
}

@mixin cardShow {
  background-color: white;
  margin: 0.75rem;
  margin-right: 1.5rem;
  padding: 0.75rem;
  box-sizing: border-box;
  overflow: scroll;
  & > p {
    padding: 12px;
  }
}

@mixin flex-styles() {
  display: flex;
  height: 100%;
}

.cardShowDouble {
  @include pad-styles-double();

  @include cardShow;
}

.cardShowSingle {
  @include pad-styles-single();

  @include cardShow;
}

.btnWrapper {
  display: flex;
  justify-content: flex-end;
  margin-right: 0.5rem;

  & button {
    margin: 1rem;
    width: 6rem;
    font-size: 0.75rem;
  }
}

.sideBar {
  @include flex-styles();

  flex-direction: column;
  flex: 0 0 270px;
  z-index: 2;
}

.app {
  @include flex-styles();
}

.cardWrapper {
  background-color: rgb(236, 245, 240);
  width: 900px;
  height: 530px;
  display: flex;
  justify-content: space-between;
}

.cardWrapperSingle {
  background-color: rgb(236, 245, 240);
  // width: 900px;
  height: 530px;
}

.padShowWrapper {
  display: flex;
  flex-direction: column;
  & .Editor {
    @include pad-styles-double();
    margin-right: 0.75rem;
  }
}

.padShowWrapperSingle {
  display: flex;
  flex-direction: column;
  & .Editor {
    @include pad-styles-single();
    margin-right: 0.75rem;
  }
}

/* destop display */
@media screen and (min-width: 1800px) {
  .padShowWrapperSingle {
    & .Editor {
      height: 650px;
    }
  }
  .cardShowSingle {
    height: 650px;
  }
}
