.padList {
  flex: auto;
  background-color: #f9f9f9;
  width: 100%;
  overflow: scroll;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.btnWrapper {
  display: flex;
  justify-content: center;
  margin-right: 0.5rem;
  flex-wrap: wrap;

  & button {
    margin: 1rem;
    width: 6rem;
    font-size: 0.75rem;
  }
}
