.auth {
	margin: 0 auto;
	max-width: 480px;
	margin-top: 10rem;
}

.btnWrapper {
	display: flex;
	justify-content: flex-end;
	// margin-right: 0.5rem;

	& button {
		// margin: 1rem;
		width: 6rem;
		font-size: 0.75rem;
	}
}

.inputWrapper {
	height: 4rem;
	margin-bottom: 2rem;
}
